name: Build
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'include/**'
      - 'Makefile'
      - '*.mk'
      - '.github/workflows/build.yml'

  pull_request:
    paths:
      - 'src/**'
      - 'include/**'
      - 'Makefile'
      - '*.mk'
      - '.github/workflows/build.yml'

jobs:

  build:
    name: Build library

    runs-on: ubuntu-latest
    env:
      CC: gcc
      CPPFLAGS: -D_POSIX_C_SOURCE=200112L
      CFLAGS: -Os -Wall -Werror
      CSTANDARD: c99
      WEXTRA: 1
      FORTIFY: 3
      XCHANGE: xchange
    steps:
    - name: Check out RedisX
      uses: actions/checkout@v6

    - name: Check out xchange
      uses: actions/checkout@v6
      with:
        repository: Smithsonian/xchange
        path: xchange

    - name: Install build dependencies
      run: sudo apt-get install libpopt-dev libreadline-dev libbsd-dev libssl-dev

    - name: Build static library
      run: make static

    - name: Build xchange dependency
      run: make -C xchange shared

    - name: Build shared library
      run: make shared

    - name: Build tools
      run: make tools
